p {
    font-size: 20px;
    color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.image {
    width: 200px;
    height: 200px;
}

.button {
    display: inline-block;
    background: black;
    color: tomato;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.button:hover {
    background: white;
}

.header {
    background: radial-gradient(rgb(236, 236, 184), rgba(103, 211, 250, 0.747));
}

.header .row {
    margin-top: 0px;
}
