body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.registration-container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.registration-container h2 {
    text-align: center;
    color: #333;
}

.registration-container form {
    display: flex;
    flex-direction: column;
}

.registration-container label {
    margin-bottom: 5px;
}

.registration-container input[type="text"],
.registration-container input[type="email"],
.registration-container input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.registration-container input[type="submit"] {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.registration-container input[type="submit"]:hover {
    background-color: #4cae4c;
}

.registration-container p {
    text-align: center;
}
.registration-container p a {
    color: #5cb85c;
    text-decoration: none;
}
    